In [289]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.model_selection import train_test_split,RandomizedSearchCV
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor

from xgboost import XGBRegressor

In [261]:
df = pd.read_csv('dataset.csv')
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,df263d996281d984952c07998dc54358,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,f0ade77b43923b38237db569b016ba25,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,f0ade77b43923b38237db569b016ba25,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,f0ade77b43923b38237db569b016ba25,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0

In [262]:
df.shape

(197428, 14)

In [263]:
df['created_at'] = pd.to_datetime(df['created_at'])
df['actual_delivery_time'] = pd.to_datetime(df['actual_delivery_time'])

In [264]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   market_id                 196441 non-null  float64
 1   created_at                197428 non-null  datetime64[ns]
 2   actual_delivery_time      197421 non-null  datetime64[ns]
 3   store_id                  197428 non-null  object
 4   store_primary_category    192668 non-null  object
 5   order_protocol            196433 non-null  float64
 6   total_items               197428 non-null  int64
 7   subtotal                  197428 non-null  int64
 8   num_distinct_items        197428 non-null  int64
 9   min_item_price            197428 non-null  int64
 10  max_item_price            197428 non-null  int64
 11  total_onshift_partners    181166 non-null  float64
 12  total_busy_partners       181166 non-null  float64
 13  total_outstanding_orders  181166 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(5), object(2)
memory usage: 21.1+ MB

In [265]:
dfn=df.copy()
dfn=dfn[dfn['actual_delivery_time'].notna()]

In [266]:
def converter(dtime):
    return datetime.timestamp(dtime)

In [267]:
dfn['created_at'] = dfn['created_at'].apply(converter)

In [268]:
dfn['actual_delivery_time'] = dfn['actual_delivery_time'].apply(converter)

In [269]:
dfn['PENDING(min)'] = np.round((dfn['actual_delivery_time'] - dfn['created_at'])/60.0,2)

In [270]:
dfn

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders,PENDING(min)
0,1.0,1.423249e+09,1.423253e+09,df263d996281d984952c07998dc54358,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,62.98
1,2.0,1.423592e+09,1.423596e+09,f0ade77b43923b38237db569b016ba25,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,67.07
2,3.0,1.421947e+09,1.421948e+09,f0ade77b43923b38237db569b016ba25,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,29.68
3,3.0,1.422986e+09,1.422989e+09,f0ade77b43923b38237db569b016ba25,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,51.25
4,3.0,1.423955e+09,1.423958e+09,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,39.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197423,1.0,1.424120e+09,1.424124e+09,a914ecef9c12ffdb9bede64bb703d877,fast,4.0,3,1389,3,345,649,17.0,17.0,23.0,65.12
197424,1.0,1.423773e+09,1.423777e+09,a914ecef9c12ffdb9bede64bb703d877,fast,4.0,6,3010,4,405,825,12.0,11.0,14.0,56.38
197425,1.0,1.422062e+09,1.422065e+09,a914ecef9c12ffdb9bede64bb703d877,fast,4.0,5,1836,3,300,399,39.0,41.0,40.0,50.13
197426,1.0,1.422802e+09,1.422806e+09,c81e155d85dae5430a8cee6f2242e82c,sandwich,1.0,1,1175,1,535,535,7.0,7.0,12.0,65.12
197427,1.0,1.423411e+09,1.423413e+09,c81e155d85dae5430a8cee6f2242e82c,sandwich,1.0,4,2605,4,425,750,20.0,20.0,23.0,37.13

In [271]:
dfn_new = dfn.drop(['created_at','actual_delivery_time'],axis=1)
dfn_new

,market_id,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders,PENDING(min)
0,1.0,df263d996281d984952c07998dc54358,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,62.98
1,2.0,f0ade77b43923b38237db569b016ba25,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,67.07
2,3.0,f0ade77b43923b38237db569b016ba25,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,29.68
3,3.0,f0ade77b43923b38237db569b016ba25,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,51.25
4,3.0,f0ade77b43923b38237db569b016ba25,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,39.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197423,1.0,a914ecef9c12ffdb9bede64bb703d877,fast,4.0,3,1389,3,345,649,17.0,17.0,23.0,65.12
197424,1.0,a914ecef9c12ffdb9bede64bb703d877,fast,4.0,6,3010,4,405,825,12.0,11.0,14.0,56.38
197425,1.0,a914ecef9c12ffdb9bede64bb703d877,fast,4.0,5,1836,3,300,399,39.0,41.0,40.0,50.13
197426,1.0,c81e155d85dae5430a8cee6f2242e82c,sandwich,1.0,1,1175,1,535,535,7.0,7.0,12.0,65.12
197427,1.0,c81e155d85dae5430a8cee6f2242e82c,sandwich,1.0,4,2605,4,425,750,20.0,20.0,23.0,37.13

In [272]:
dfn_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197421 entries, 0 to 197427
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   market_id                 196434 non-null  float64
 1   store_id                  197421 non-null  object
 2   store_primary_category    192661 non-null  object
 3   order_protocol            196426 non-null  float64
 4   total_items               197421 non-null  int64
 5   subtotal                  197421 non-null  int64
 6   num_distinct_items        197421 non-null  int64
 7   min_item_price            197421 non-null  int64
 8   max_item_price            197421 non-null  int64
 9   total_onshift_partners    181159 non-null  float64
 10  total_busy_partners       181159 non-null  float64
 11  total_outstanding_orders  181159 non-null  float64
 12  PENDING(min)              197421 non-null  float64
dtypes: float64(6), int64(5), object(2)
memory usage: 21.1+ MB

In [273]:
dfn_new['market_id'].fillna(2.0,inplace=True)
dfn_new['store_primary_category'] = dfn_new['store_primary_category'].fillna('american')
dfn_new['order_protocol'] = dfn_new['order_protocol'].fillna(1.0)
dfn_new['total_onshift_partners'] = dfn_new['total_onshift_partners'].fillna(dfn_new['total_onshift_partners'].mean())
dfn_new['total_busy_partners'] = dfn_new['total_busy_partners'].fillna(dfn_new['total_busy_partners'].mean())
dfn_new['total_outstanding_orders'] = dfn_new['total_outstanding_orders'].fillna(dfn_new['total_outstanding_orders'].mean())
dfn_new.drop('store_id',axis=1,inplace=True)

In [274]:
dfn_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197421 entries, 0 to 197427
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   market_id                 197421 non-null  float64
 1   store_primary_category    197421 non-null  object
 2   order_protocol            197421 non-null  float64
 3   total_items               197421 non-null  int64
 4   subtotal                  197421 non-null  int64
 5   num_distinct_items        197421 non-null  int64
 6   min_item_price            197421 non-null  int64
 7   max_item_price            197421 non-null  int64
 8   total_onshift_partners    197421 non-null  float64
 9   total_busy_partners       197421 non-null  float64
 10  total_outstanding_orders  197421 non-null  float64
 11  PENDING(min)              197421 non-null  float64
dtypes: float64(6), int64(5), object(1)
memory usage: 19.6+ MB

In [275]:
le=LabelEncoder()
dfn_new['store_primary_category'] = le.fit_transform(dfn_new['store_primary_category'])
dfn_new

,market_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders,PENDING(min)
0,1.0,4,1.0,4,3441,4,557,1239,33.0,14.0,21.0,62.98
1,2.0,47,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,67.07
2,3.0,4,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,29.68
3,3.0,4,1.0,6,6900,5,600,1800,1.0,1.0,2.0,51.25
4,3.0,4,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,39.83
...,...,...,...,...,...,...,...,...,...,...,...,...
197423,1.0,28,4.0,3,1389,3,345,649,17.0,17.0,23.0,65.12
197424,1.0,28,4.0,6,3010,4,405,825,12.0,11.0,14.0,56.38
197425,1.0,28,4.0,5,1836,3,300,399,39.0,41.0,40.0,50.13
197426,1.0,59,1.0,1,1175,1,535,535,7.0,7.0,12.0,65.12
197427,1.0,59,1.0,4,2605,4,425,750,20.0,20.0,23.0,37.13

In [276]:
dfn_new.describe().T

,count,mean,std,min,25%,50%,75%,max
market_id,197421.0,2.973807,1.522628,1.00,2.00,3.00,4.00,6.00
store_primary_category,197421.0,35.770784,21.465619,0.00,14.00,39.00,56.00,73.00
order_protocol,197421.0,2.872871,1.505892,1.00,1.00,3.00,4.00,7.00
total_items,197421.0,3.196367,2.666552,1.00,2.00,3.00,4.00,411.00
subtotal,197421.0,2682.326379,1823.106256,0.00,1400.00,2200.00,3395.00,27100.00
num_distinct_items,197421.0,2.670780,1.630261,1.00,1.00,2.00,3.00,20.00
min_item_price,197421.0,686.224596,522.044061,-86.00,299.00,595.00,949.00,14700.00
max_item_price,197421.0,1159.590444,558.416236,0.00,800.00,1095.00,1395.00,14700.00
total_onshift_partners,197421.0,44.806866,33.073363,-4.00,19.00,41.00,62.00,171.00
total_busy_partners,197421.0,41.738787,30.792774,-5.00,17.00,39.00,59.00,154.00
total_outstanding_orders,197421.0,58.047969,50.444579,-6.00,19.00,47.00,80.00,285.00
PENDING(min),197421.0,48.470949,320.493483,1.68,35.07,44.33,56.35,141947.65

In [277]:
dfn_new = dfn_new[dfn_new['min_item_price']>=0]
dfn_new = dfn_new[dfn_new['total_onshift_partners']>=0]
dfn_new = dfn_new[dfn_new['total_busy_partners']>=0]
dfn_new = dfn_new[dfn_new['total_outstanding_orders']>=0]
dfn_new

,market_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_partners,total_busy_partners,total_outstanding_orders,PENDING(min)
0,1.0,4,1.0,4,3441,4,557,1239,33.0,14.0,21.0,62.98
1,2.0,47,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,67.07
2,3.0,4,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,29.68
3,3.0,4,1.0,6,6900,5,600,1800,1.0,1.0,2.0,51.25
4,3.0,4,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,39.83
...,...,...,...,...,...,...,...,...,...,...,...,...
197423,1.0,28,4.0,3,1389,3,345,649,17.0,17.0,23.0,65.12
197424,1.0,28,4.0,6,3010,4,405,825,12.0,11.0,14.0,56.38
197425,1.0,28,4.0,5,1836,3,300,399,39.0,41.0,40.0,50.13
197426,1.0,59,1.0,1,1175,1,535,535,7.0,7.0,12.0,65.12
197427,1.0,59,1.0,4,2605,4,425,750,20.0,20.0,23.0,37.13

In [278]:
col=['total_items','subtotal','num_distinct_items','min_item_price','max_item_price','PENDING(min)']
temp = dfn_new.copy()
for i in col:
    q1=np.percentile(temp[i],1)
    q3=np.percentile(temp[i],99)
    temp = temp[(temp[i]>q1) & (temp[i]<q3)]
    print(temp.shape)

(154171, 12)
(151083, 12)
(138480, 12)
(135379, 12)
(132391, 12)
(129734, 12)

In [279]:
temp.describe().T

,count,mean,std,min,25%,50%,75%,max
market_id,129734.0,2.976930,1.506882,1.00,2.00,3.0,4.00,6.00
store_primary_category,129734.0,35.726063,21.615343,0.00,13.00,39.0,56.00,73.00
order_protocol,129734.0,2.835725,1.504740,1.00,1.00,3.0,4.00,7.00
total_items,129734.0,3.438952,1.542534,2.00,2.00,3.0,4.00,11.00
subtotal,129734.0,2859.343464,1437.971268,688.00,1798.00,2549.0,3593.00,9165.00
num_distinct_items,129734.0,3.017389,1.112125,2.00,2.00,3.0,4.00,6.00
min_item_price,129734.0,536.420376,329.777149,1.00,275.00,479.0,750.00,1599.00
max_item_price,129734.0,1137.255777,421.679280,300.00,849.00,1095.0,1395.00,2799.00
total_onshift_partners,129734.0,46.135358,33.627271,0.00,19.00,43.0,64.00,171.00
total_busy_partners,129734.0,42.916486,31.203699,0.00,17.00,41.0,61.00,154.00
total_outstanding_orders,129734.0,59.972455,51.320579,0.00,20.00,50.0,83.00,278.00
PENDING(min),129734.0,47.564556,15.928358,20.17,35.92,44.8,56.33,107.55

In [280]:
features = temp.drop('PENDING(min)',axis=1)
target = np.log(temp['PENDING(min)'])
x_train,x_test,y_train,y_test = train_test_split(features,target,test_size=0.2,random_state=123)

In [281]:
scaller = MinMaxScaler(feature_range=(0,1))
xtr_scalled = pd.DataFrame(data=scaller.fit_transform(x_train),columns=x_train.columns)
xts_scalled = pd.DataFrame(data=scaller.transform(x_test),columns=x_test.columns)

In [282]:
ln = LinearRegression()
ln.fit(xtr_scalled,y_train)
predictionl = ln.predict(xts_scalled)
score = r2_score(y_test,predictionl)
mse = mean_squared_error(y_test,predictionl)
mae = mean_absolute_error(y_test,predictionl)
rmse = np.sqrt(mse)
m1 = pd.DataFrame({'score':score,'mse':mse,'mae':mae,'rmse':rmse},index=['LinearRegression'])
m1

                     score       mse     mae      rmse
LinearRegression  0.163803  0.089131  0.2392  0.298548

In [283]:
tr = DecisionTreeRegressor()
tr.fit(xtr_scalled,y_train)
predictiont = tr.predict(xts_scalled)
score = r2_score(y_test,predictiont)
mse = mean_squared_error(y_test,predictiont)
mae = mean_absolute_error(y_test,predictiont)
rmse = np.sqrt(mse)
m2 = pd.DataFrame({'score':score,'mse':mse,'mae':mae,'rmse':rmse},index=['DecisionTree'])
m2

                 score       mse       mae      rmse
DecisionTree -0.587761  0.169241  0.327721  0.411389

In [284]:
fr = RandomForestRegressor()
fr.fit(xtr_scalled,y_train)
predictionf = fr.predict(xts_scalled)
score = r2_score(y_test,predictionf)
mse = mean_squared_error(y_test,predictionf)
mae = mean_absolute_error(y_test,predictionf)
rmse = np.sqrt(mse)
m3 = pd.DataFrame({'score':score,'mse':mse,'mae':mae,'rmse':rmse},index=['RForest'])
m3

            score       mse       mae      rmse
RForest  0.206566  0.084573  0.231354  0.290814

In [285]:
gr = GradientBoostingRegressor()
gr.fit(xtr_scalled,y_train)
predictiong = gr.predict(xts_scalled)
score = r2_score(y_test,predictiong)
mse = mean_squared_error(y_test,predictiong)
mae = mean_absolute_error(y_test,predictiong)
rmse = np.sqrt(mse)
m4 = pd.DataFrame({'score':score,'mse':mse,'mae':mae,'rmse':rmse},index=['GradientBoosting'])
m4

                     score       mse     mae      rmse
GradientBoosting  0.205123  0.084727  0.2327  0.291078

In [286]:
xgb = XGBRegressor()
xgb.fit(xtr_scalled,y_train)
predictionx = xgb.predict(xts_scalled)
score = r2_score(y_test,predictionx)
mse = mean_squared_error(y_test,predictionx)
mae = mean_absolute_error(y_test,predictionx)
rmse = np.sqrt(mse)
m5 = pd.DataFrame({'score':score,'mse':mse,'mae':mae,'rmse':rmse},index=['XGB'])
m5

        score       mse       mae      rmse
XGB  0.240783  0.080926  0.226371  0.284474

In [ ]:
n_estimators = [int(x) for x in np.linspace(100,2000,10)]
max_depth = [int(x) for x in np.linspace(1,10,10)]
max_depth.append(None)
min_samples_split = [2,5,10]
min_samples_leaf = [1,2,5]
max_features = ['auto','sqrt','log2']
bootstrap = [False,True]

params = {
    'n_estimators':n_estimators,
    'max_depth' :max_depth,
    'min_samples_split': min_samples_split,
    'min_samples_leaf' :min_samples_leaf,
    'max_features': max_features,
    'bootstrap': bootstrap
}

fr = RandomForestRegressor()
fr_grid = RandomizedSearchCV(estimator=fr, param_distributions=params,n_iter=50,cv=3,n_jobs=-1,verbose=2)
fr_grid.fit(xtr_scalled,y_train)
predictionfg = fr_grid.best_estimator_.predict(xts_scalled)
score = r2_score(y_test,predictionfg)
mse = mean_squared_error(y_test,predictionfg)
mae = mean_absolute_error(y_test,predictionfg)
rmse = np.sqrt(mse)
m6 = pd.DataFrame({'score':score,'mse':mse,'mae':mae,'rmse':rmse},index=['RForest_Tunned'])
m6

Fitting 3 folds for each of 50 candidates, totalling 150 fits

In [ ]:
max_depthX = [int(x) for x in np.linspace(start=2,stop=20,num=10)]
learning_rate = [float(x) for x in np.linspace(start=0.01,stop=0.3,num=10)]
n_estimatorsX = [int(x) for x in np.linspace(start=100,stop=1000,num=20)]
params = { 'max_depth': max_depthX,
           'learning_rate': learning_rate,
           'subsample': np.arange(0.5, 1.0, 0.1),
           'colsample_bytree': np.arange(0.4, 1.0, 0.1),
           'colsample_bylevel': np.arange(0.4, 1.0, 0.1),
           'n_estimators': n_estimatorsX
}



xgb_tunned = XGBRegressor()
grid_xgb = RandomizedSearchCV(estimator=xgb_tunned, param_distributions=params,verbose=2, n_iter=50,cv=3,n_jobs=-1)
grid_xgb.fit(xtr_scalled,y_train)
predictionxh = grid_xgb.best_estimator_.predict(xts_scalled)
score = r2_score(y_test,predictionxh)
mse = mean_squared_error(y_test,predictionxh)
mae = mean_absolute_error(y_test,predictionxh)
rmse = np.sqrt(mse)
m7 = pd.DataFrame({'score':score,'mse':mse,'mae':mae,'rmse':rmse},index=['XGB_Tunned'])
m7

In [ ]:
result = pd.concat([m1,m2,m3,m4,m5,m6,m7],axis=0)
result

In [218]:
q1 = np.quantile(dfn_new['PENDING(min)'],0.25)
q3 = np.quantile(dfn_new['PENDING(min)'],0.75)
IQR = q3-q1
low = q1-1.5*IQR
high = q3 + 1.5*IQR
print(high)
print(low)

88.27000000000001
3.1499999999999986

In [220]:
q1=np.percentile(dfn_new['PENDING(min)'],1)
q3=np.percentile(dfn_new['PENDING(min)'],99)
print(q1)
print(q3)

19.2
107.91479999999981

In [259]:
col=['total_items','subtotal','num_distinct_items','min_item_price','max_item_price','PENDING(min)']
temp = dfn_new.copy()
for i in col:
    q1=np.percentile(dfn_new[i],1)
    q3=np.percentile(dfn_new[i],99)
    temp = temp[(temp[i]>q1) & (temp[i]<q3)]
    print(temp.shape)

(154171, 12)
(152239, 12)
(141785, 12)
(139951, 12)
(138246, 12)
(135875, 12)